
.header {
    color: rgb(205, 126, 90);;
    font-size: 30px;
    margin-right: 800px;
    }

#nameOfCity {
  margin-top: -50px;
}

.jumbotron {
    text-align: left;
    background-color: rgb(205, 126, 90);
    color: white;
    border-radius: 0;
    border-bottom: 10px solid navy;
    width: 1025px;
    height: 350px;
    margin-left: 10px;
    margin-top: 70px !important;
       }

  #searchBox {
    width: 25%;
    height: 625px;
    border: 1px solid navy;
    padding: 10px;
    background-color: lightgray;
    margin-top: -600px;
    margin-left: 1080px;
    }

    #searchedLocationsContainer{
      margin-right: 280px;
      padding: 10px;
      height: 40px;
      width: 300px;
      }


.fiveDayForecast {
    margin-top: -35px;
    margin-left: 10px;
    color: navy;
    }


.card {
  color: white;
  width: 175px;
  height: 200px;
  background-color: rgb(205, 126, 90);
  margin: 5px 10px 10px 25px;
}


.locationList {
    color: navy;
    font-size: 20px;
    }


.footer {
    text-align: center;
    color: white;
    font-size: 13px;
    margin-left: 650px;
      }

@media only screen and (max-width: 600px) {
    body {
      background-color: lightgray;
    }
}